/*
Source - https://stackoverflow.com/a/66736764
Posted by trincot, modified by community. See post 'Timeline' for change history
Retrieved 2026-02-11, License - CC BY-SA 4.0
*/

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
    overflow:hidden;
}

canvas { background: rgb(156, 54, 54); }